.instructor {
  color: #333333;

  min-height: 100%;
  width: 100%;

  background-color: #EFEFEF;

  padding-top: 2rem;

  .jinjoTitle {
    font-size: 4rem;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .createCourse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 5px;
    color: #3D3D3D;

    padding:1rem;

    max-width: 100vw;
    width: 300px;
    margin: auto;

    cursor: pointer;

    .courseName {
      margin-top: 0.5rem;
    }

    .className {
      margin-top: 0.5rem;
    }

    input {

      border: 1px solid black;
      border-radius: 5px;

      width: 100%;
    }

    .addCourse {
      border: 1px solid black;
      border-radius: 5px;
      color: black;

      margin-top: 0.5rem;
      padding: 0.5rem;

      cursor: pointer;

      transition: box-shadow 0.2s;
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }

    }

  }

  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 100vw;
    width: 400px;
    margin: auto;

    .coursesTitle {
      display: flex;
      justify-content: center;

      color: white;
      margin-top: 1rem;
    }

    .course {
      display: flex;
      justify-content: center;
      flex-direction: column;

      margin-top: 1rem;

      padding-top:1rem;
      padding-bottom:1rem;

      background-color: white;
      border-radius: 5px;

      cursor: pointer;

      .courseTitle {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .classlist {

        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 100vw;
        width: 400px;
        margin: auto;

        .class {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          height: 50px;
          width: 200px;
          border: 1px solid black;
          border-radius: 5px;

          margin: auto;
          margin-top: 0.5rem;

        }

        .createNew {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          width: 200px;
          border: 1px solid black;
          border-radius: 5px;
          margin: auto;
          margin-top: 0.5rem;

        }

      }


    }

  }




}