@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #3D3D3D;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button {
  background-color: #6BBAB8;
  color: #FFFFFF;
  border-color: transparent;
}
