
.home {

  justify-content: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: #00aaff;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 4rem;
  }


  .joinRoom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    margin-top: 4rem;
    padding: 1rem;

    width: 400px;
    max-width: 100vw;
    background-color: white;
    border-radius: 5px;

    .title {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      color: black;
      font-size: 1rem;

    }
    .input {
      margin-bottom: 1rem;
      width: 100%;

      input {
        -webkit-appearance: none;
        border:none;
        width: 100%;
        border: 1px solid black;
        padding-left: 1rem;

        border-radius: 5px;
      }
    }

    .join {

      display: flex;
      justify-content: center;
      align-items: center;

      min-height: 50px;
      min-width: 200px;

      border-radius: 5px;
      border: 1px solid black;

      cursor: pointer;

      transition: box-shadow 0.2s;

      margin-top: 0.5rem;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }

    .err {
      color: red;
    }
  }

  .joinProf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 4rem;
    max-width: 100vw;

    .button {
      color: black;
      background-color: white;
      border-radius: 5px;
      min-width: 200px;
      min-height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }

    }
  }
}

