.post {

  display: flex;
  flex-direction: row;

  padding:1rem;

  background-color: white;
  border-radius: 5px;

  max-width: 100vw;
  width: 400px;

  margin-bottom: 2rem;
  position: relative;
  .title {

    max-width: calc(100% - 1rem - 50px);
    word-break: break-all;
  }

  .like {
    padding-left: 1rem;
    position: absolute;
    right: 25px;
    // top: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 20px;

      &:hover {
        cursor: pointer;

      }

    }

    .likeCount {
      font-size: 0.2rem;

    }
  }

}